@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 100%;
}

.Header, .content, .Footer{
	width: 100%;
	float: left;
}

.Header, .Footer{
	height: 8em;
}
.content{
	display : flex;
	align-items : stretch;
}
.SideBar{
	width: 10%;
/* 	height: 600px; */
	height: auto;
	background-color: #FFBB00;
	float: left;
}

.page_content{
	width: 90%;
/* 	height: 600px; */
	min-height : 73vh;
	height: 100%;
	background-color: #EAEAEA;
	float: left;
}

.Header{
	background-color: #ABF200;
}

.Footer{
	background-color: #FF00DD;
}

.min-vh-50 {
	min-height: 50vh;
}

